.padding-left {
    padding-left: 15px;
}

.padding-right {
    padding-right: 15px;
}

.main-container {
    background: #ecf6f2;
    border-top: 1px solid #97d4bb;
    border-bottom: 1px solid #97d4bb;
    margin: 20px 30px 10px 30px;
    padding: 0 15px 30px 10px;
    clear: both;
}

.marginrght0 {
    margin-right: 0!important;
}

.width100 {
    width: 100%;
    display: block;
    clear: both;
    text-align: center;
}

.heading {
    margin: 0px 0 0 30px;
    font-size: 18px;
    font-weight: 700;
}

p {
    margin: 10px 0px 0px 30px
}

.primary-button:hover {
    color: #000;
}

.primary-button {
    background: #39AC7C;
    width: 257px;
    height: 48px;
    border: none;
    outline: none;
    border-radius: 41px;
    color: #fff;
    font-size: 18px;
    margin: 60px 0;
    line-height: 0px;
    padding: 0px;
    text-align: center;
    margin: 53px auto 50px auto
}

.buttonscontainer {
    margin-right: 30px;
    padding-left: 10px;
    width: 94%;
    margin: 0px auto;
    float: none;
}

.addbutton {
    border: none;
    background: #9cd6be;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 43px;
    height: 43px;
    margin-left: 10px;
    -webkit-transition: all .5s ease;
    outline: none;
    float: right;
}

.addbutton:hover {
    background: #39ac7c;
    outline: none;
}

.addbutton svg {
    fill: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
    width: 23px;
    height: 23px;
}

.mobileshow {
    display: none;
}


/*Mobile Media Query */


/* Media Query for Mobile Devices */

@media (max-width: 480px) {
    .mobileshow {
        display: block;
        color: #000;
        text-decoration: underline;
        display: block;
        padding: 20px;
        clear: both;
        text-align: center;
        font-size: 14px;
    }
    .addbutton {
        margin: 0 20px 20px 10px;
    }
    .primary-button {
        margin: 0px auto 30px;
        width: 92%;
    }
    .mobhide {
        display: none;
    }
    .padding-left {
        padding-right: 0px;
        padding-left: 0px;
    }
    .padding-right {
        padding-right: 0px;
        padding-left: 0px;
    }
    .main-container {
        padding: 10px;
        margin: 20px 0px;
    }
}


/* Media Query for low resolution  Tablets, Ipads */

@media (min-width: 481px) and (max-width: 767px) {
    .mobileshow {
        display: block;
        color: #000;
        text-decoration: underline;
        display: block;
        padding: 20px;
        text-align: center;
        font-size: 14px;
    }
    .primary-button {
        margin: 0px auto 30px;
        width: 92%;
    }
    .mobhide {
        display: none;
    }
    .padding-left {
        padding-right: 0px;
        padding-left: 0px;
    }
    .padding-right {
        padding-right: 0px;
        padding-left: 0px;
    }
    .main-container {
        padding: 10px 20px;
        margin: 20px 0px;
    }
}


/* Media Query for Tablets Ipads portrait mode */

@media (min-width: 768px) and (max-width: 1024px) {
    .main-container {
        margin: 10px 0px 10px 0px;
        padding: 10px
    }
    .mobileshow {
        display: none;
    }
    .primary-button {
        margin: 30px 0px
    }
    .padding-left {
        padding-left: 10px;
    }
    .padding-right {
        padding-right: 10px;
    }
}